@import "../../../../style/_variables.scss";

.main-industries-container
{
    padding: 100px 0;
    background-color: #FAFAFB;
    .item
    {
        margin-bottom: 20px;
        cursor: pointer;
        border-radius: 5px;
        width: 250px;
        height: 60px;
        line-height: 70px;
        background-color: #f4f4fb;
        color: $secondColor;
        z-index: 1;
        @media (max-width: 450px) {
          width: 100%;
        }
        &:hover{
            background: none;
        }
        &:before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 60px;
            transition: all .6s;
        }
        &:hover:before{
            content: "";
            position: absolute;
            left: 15px;
            top: 0;
            width: 250px;
            border-radius: 5px;
            background-color: rgba(255, 93, 34, 0.45);
            @media (max-width: 450px) {
                width: 370px;
            }

        }
        i{
            margin-right: 15px;
            font-size: 30px;
            @media (max-width: 450px) {
                font-size: 25px;
            }
        }
        h6{
            display: inline-block;
            font-size: 22px;
            @media (max-width: 450px) {
                font-size: 18px;
            }
        }
    }
}