@import "../../../style/_variables.scss";

.main-carousel-alice-container
{
    padding: 100px 0;
    background-color: $secondColor;
    position: relative;
    .img-1
    {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 300px;
    }
    .img-2
    {
        position: absolute;
        right: 0;
        top: 0;
        width: 300px;
    }
    .title
    {
        h2{
            color: #FFFFFF;
        }
        p{
            color: #FFFFFF;
        }
    }
}