@import "../../../style/_variables.scss";

.main-bolg-container
{
    .blog-content
    {
        padding-top: 100px;
        padding-bottom: 50px;
        @media (max-width: 600px) {
            padding: 100px 10px;
            margin: 0;
        }
        .blog-item
        {
            border-radius: 5px;
            background-color: #FFFBF5;
            width: 100%;
            transition: all .6s;
            margin-bottom: 25px;
            &:hover{
                margin-top: -10px;
                box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.09);
            }
            img{
                width: 100%;
                cursor: pointer;
            }
            .blog-item-details
            {
                padding: 25px;
                div{
                    display: inline-block;
                    width: 50%;
                    color: #6b6b84;
                }
                .img
                {
                    img{
                        margin-right: 10px;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                    }
                    span{
                        font-size: 15px;
                        font-weight: 500;
                    }
                }
                .history
                {
                    i{
                        margin-right: 10px;
                        color: $mainColor;
                    }
                    text-align: right;
                }
            }
            h3{
                margin-top: 20px;
                font-size: 24px;
                line-height: 1.3;
                transition: all .6s;
                cursor: pointer;
                &:hover{
                    color: $mainColor;
                }
            }
        }
    }
}
