@import "../../../style/_variables.scss";

.main-courses-container
{
    .main-courses-content
    {
        padding: 100px 0;
        background-color: #fafafb;
        .item
        {
            margin-bottom: 30px;
            width: 100%;
            position: relative;
            .item-img
            {
                img{
                    width: 100%;
                    border-radius: 5px 5px 0 0;
                }
            }
            span{
                position: absolute;
                right: 20px;
                bottom: 57%;
                color: #FFFFFF;
                width: 65px;
                height: 65px;
                line-height: 65px;
                border-radius: 50%;
                text-align: center;
                font-size: 22px;
                font-weight: 700;
                box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
                @media (max-width: 1024px) {
                    bottom: 65%;
                }
                @media (max-width: 768px) {
                    bottom: 62%;
                }
                @media (max-width: 700px) {
                    bottom: 52%;
                }
                @media (max-width: 550px) {
                    bottom: 45%;
                }
                @media (max-width: 415px) {
                    bottom: 53%;
                }
                @media (max-width: 375px) {
                    bottom: 57%;
                }
                @media (max-width: 360px) {
                    bottom: 61%;
                }
                @media (max-width: 320px) {
                    bottom: 65%;
                }
                @media (max-width: 280px) {
                    bottom: 72%;
                }
            }
            .price{
                background-color: $mainColor;
                z-index: 10;
            }
            .free{
                background-color: green;
                z-index: 10;
            }
            .item-details
            {
                padding: 30px;
                border-radius: 0 0 5px 5px;
                background-color: #FFFFFF;
                .item-user
                {
                    margin-bottom: 15px;
                    img{
                        width: 40px;
                        border-radius: 50%;
                        margin-right: 10px;
                    }
                    span{
                        color: $mainColor;
                        font-size: 15px;
                        font-weight: 600;
                    }
                }
                h3{
                    font-size: 25px;
                    line-height: 1.3;
                    margin-bottom: 12px;
                    cursor: pointer;
                    color: $secondColor;
                    transition: all .5s;
                    &:hover{
                        color: $mainColor;
                    }
                }
                p{
                    color: #6b6b84;
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 1.8;
                    margin-bottom: 15px;
                }
                ul
                {
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    padding: 0;
                    li
                    {
                        flex: .45;
                        color: #6b6b84;
                        font-size: 15px;
                        i{
                            margin-right: 5px;
                            color: $mainColor;
                        }
                    }
                }
            }
        }
    }
}