@import "../../../style/_variables.scss";

.main-home-content-container
{
  .cover-home{
    padding-bottom: 270px;
    @media (max-width: 768px) {
      padding-bottom: 150px;
    }
    @media (max-width: 500px) {
      padding-bottom: 250px;
    }
  }
}
