.main-home-content-container
{
  background-image: url("./img/main-banner-bg4-97751efdd9ecfb226a5a3e61614c48a8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 950px;
  .cover-home{
    padding-bottom: 270px;
    @media (max-width: 768px) {
      padding-bottom: 150px;
    }
    @media (max-width: 500px) {
      padding-bottom: 250px;
    }
  }
  .content-home
  {
    .title-details
    {
      h2{
        font-size: 44px;
        font-weight: 700;
        width: 60%;
        margin: 0 auto 15px;
        color: #221638;
        @media (max-width: 768px) {
          width: 100%;
        }
        @media (max-width: 500px) {
          font-size: 30px;
        }
      }
      p{
        color: #6b6b84;
        font-size: 17px;
        width: 50%;
        margin: 5px auto;
        @media (max-width: 768px) {
          width: 100%;
        }
        @media (max-width: 500px) {
          font-size: 15px;
        }
      }
    }
    .item
    {
      margin: 35px 0;
      @media (max-width: 768px) {
        text-align: center;
      }
      &:hover .icon{
        background-color: #221638;
      }
      .icon
      {
        padding: 10px;
        background-color: #ff5d22;
        color: #FFFFFF;
        width: 80px;
        height: 80px;
        line-height: 80px;
        border-radius: 10px;
        text-align: center;
        transition: all .6s;
        margin-bottom: 20px;
        @media (max-width: 768px) {
          margin: 10px auto;
        }
        i{
          font-size: 40px;
        }
      }
      .item-details
      {
        margin: 10px 0;
        h3{
          cursor: pointer;
          color: #221638;
          transition: all .6s;
          font-size: 25px;
          font-weight: 700;
          line-height: 1.8;
          &:hover{
            color: #ff5d22;
          }
        }
        p{
          color: #6b6b84;
          font-size: 17px;
          line-height: 1.8;
        }
        a
        {
          font-size: 18px;
          font-weight: 500;
          color: #ff5d22;
          text-decoration: none;
          position: relative;
          transition: all .5s;
          &:hover{
            color: #221638;
          }
          &:hover i{
            position: absolute;
            right: -25px;
            top: 6px;
          }
          i{
            font-size: 15px;
            transition: all .5s;
          }
        }
      }
    }
    .item:first-child{
      margin-top: 80px;
    }
    .item-1{
      margin-top: 60px;
    }
    .item-2{
      margin-top: 40px;
    }
    .item-3{
      margin-top: 20px;
    }
  }
}

body{
  height: 1900px;
}
