.main-home-content-container
{
  @media (max-width: 1024px) {
    padding-bottom: 600px;
  }
  @media (max-width: 768px) {
    padding-bottom: 245px;
  }
  @media (max-width: 500px) {
    padding-bottom: 35px;
  }
  @media (max-width: 400px) {
    padding-bottom: 10px;
  }
  .cover-home{
    padding-bottom: 270px;
    @media (max-width: 768px) {
      padding-bottom: 150px;
    }
    @media (max-width: 500px) {
      padding-bottom: 250px;
    }
  }
}
